<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <style>
   :root{--bg-primary: #333;} 
  </style>
  <body>
<!-- welcome -->
<div class="welcome bg-var(--bg-primary)">
  <div class="welcome-container ">
    <p class="welcome-left">Chào mừng bạn đến với nhà sách Tiến Thọ</p>
    <div class="welcome-log">
      <a class="bg-red" href="../signup.html"> Đăng ký </a>
      | <a href="../login.html">Đăng nhập</a>
    </div>
  </div>
</div>

<!-- toolbar -->
<div class="header-container">
  <div>
    <img class="logo" src="/images/logo.png" alt="logo" />
  </div>

  <div class="search">
    <input type="search" placeholder="Tìm kiếm... " />
    <!-- <AiOutlineSearch class="fa-search" /> -->
    <i class="fas fa-search"></i>
  </div>

  <div class="hotline">
    <img class="img-hotline" src="/images/hotline.webp" alt="hotline" />
    <div class="hotline-phoneNumber">
      <p class="hotline-text">Hotline:</p>
      <a class="hotline-tel" href="tel:0987654321">0987654321</a>
    </div>
  </div>

  <div class="shopping-cart">
    <a class="shopping-cart-container" href="#">
      <!-- <FaShoppingCart class="fa-shopping-cart" /> -->
      <i class="fas fa-shopping-cart"></i>
      Giỏ hàng
    </a>
    <div class="notification">
      <div class="notification-message">
        Giỏ hàng của bạn đang trống
        <a class="red" href="../index.html">Tiếp tục mua hàng</a>
      </div>
    </div>
  </div>
</div>

<!-- navigation -->
<div class="nav-header">
  <div class="nav-container">
    <li class="nav-left">
      <a href="" class="nav-left-container">
        <p class="fs-16">
          <i class="fas fa-bars icon menu-icon"></i>
          <!-- <HiMenu class="icon menu-icon" /> -->
          Danh mục sản phẩm
          <i class="fas fa-chevron-down icon down-icon"></i>
          <!-- <HiChevronDown class="icon down-icon" /> -->
        </p>
      </a>
    </li>
    <li class="nav-right">
      <a href="../index.html" class="nav-right-container">
        <p class="nav-text">Trang chủ</p>
      </a>
    </li>
    <li class="nav-right">
      <div href="#" class="nav-right-container">
        <div class="nav-text">
          <div>Giới thiệu</div>
          <i class="fas fa-chevron-down icon down-icon"></i>
        </div>
        <div class="sub-nav">
          <div class="introduce">
            <a href="../introduction" class="introduce-item">
              <div class="sub-nav-content">Giới thiệu chung</div>
            </a>
          </div>
          <div class="introduce">
            <a href="../saleActivity" class="introduce-item">
              <div class="sub-nav-content">Hoạt động kinh doanh</div>
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-right">
      <a href="./contact" class="nav-right-container">
        <p class="nav-text">Liên hệ</p>
      </a>
    </li>
  </div>
</div>
</body>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
