<!-- welcome -->
<div class="welcome">
  <div class="welcome-container">
    <p class="welcome-left" style="margin-bottom: 0">
      Chào mừng bạn đến với nhà sách Tiến Thọ
    </p>
    <div class="welcome-log">
      <a class="bg-red" href="/signup"> Đăng ký </a>
      | <a href="/login">Đăng nhập</a>
    </div>
    
  </div>
</div>

<!-- toolbar -->
<div style="display: flex; width: 100%">
  <div class="header-container" style="width: 1200px">
    <div>
      <img class="logo" src="/images/logo.png" alt="logo" />
    </div>

    <div class="search">
      <input type="search" placeholder="Tìm kiếm... " />
      <!-- <AiOutlineSearch class="fa-search" /> -->
      <i class="fas fa-search"></i>
    </div>

    <div class="hotline">
      <img class="img-hotline" src="/images/hotline.webp" alt="hotline" />
      <div class="hotline-phoneNumber">
        <p class="hotline-text">Hotline:</p>
        <a class="hotline-tel" href="tel:0987654321">0987654321</a>
      </div>
    </div>

    <div class="shopping-cart">
      <a class="shopping-cart-container" href="#">
        <!-- <FaShoppingCart class="fa-shopping-cart" /> -->
        <i class="fas fa-shopping-cart"></i>
        Giỏ hàng
      </a>
      <div class="notification">
        <div class="notification-message">
          Giỏ hàng của bạn đang trống
          <a class="red" href="/">Tiếp tục mua hàng</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- navigation -->
<div class="nav-header">
  <div class="nav-container">
    <li class="nav-left">
      <a href="" class="nav-left-container">
        <p class="fs-16">
          <i class="fas fa-bars icon menu-icon"></i>
          <!-- <HiMenu class="icon menu-icon" /> -->
          Danh mục
          <i class="fas fa-chevron-down icon down-icon"></i>
          <!-- <HiChevronDown class="icon down-icon" /> -->
        </p>
      </a>
    </li>
    {{range .SidebarItems}}
    <li class="nav-right">
      <a href="{{.Route}}" class="nav-right-container">
        <p class="nav-text">{{.Title}}</p>
      </a>
    </li>
    {{end}}
  </div>
</div>
