<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css"
    />
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>

    <link rel="stylesheet" href="/scss/index.css" />
    <link rel="stylesheet" href="/scss/styles.css" />
    <link rel="stylesheet" href="/scss/information.css" />
    <link rel="stylesheet" href="/scss/login.css" />
    <link rel="stylesheet" href="/scss/signup.css" />
    <link rel="stylesheet" href="/scss/admin.css" />
  </head>
  <body>
    {{ template "layouts/header" .}}
    <div>{{ embed }}</div>
    {{ template "layouts/footer" .}}
  </body>
  <!-- Bootstrap JS and dependencies -->
</html>
