<div class="admin-container">
  <div class="admin-content">
    <a class="create" href="/createAccount">Thêm tài khoản</a>
    <table>
     <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Action</th>
     </tr>
      {{range .Users}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td>{{.Address}}</td>
        <td>{{.Phone}}</td>
        <td>{{.Role}}</td>
        <td>
          <a href="/locations/updateAccount/{{.ID}}">Update</a>
          <a href="/locations/deleteAccount/{{.ID}}">Delete</a>
        </td>
      </tr>
      {{end}}
    </table>
  </div>
</div>
