<div class="information-container">
  <div class="information-content">
    <h1>Thông tin cá nhân</h1>
    <table>
      <tr>
        <td>Tên đăng nhập:</td>
        <td>
          <p>{{.Username}}</p>
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <p>{{.Email}}</p>
        </td>
      </tr>
      <tr>
        <td>Địa chỉ:</td>
        <td>
          <p>{{.Address}}</p>
        </td>
      </tr>
      <tr>
        <td>Số điện thoại:</td>
        <td>
          <p>{{.Phone}}</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="action">
    <a href="/">Trang chủ</a>
    <a href="/logout">Đăng xuất</a>
  </div>
</div>
