<div class="login-container">
  <div class="login-content">
    <h1 class="text-info">{{.Title}}</h1>

    <form action="/login" method="post">
      <label for="username">Tên đăng nhập</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Mật khẩu</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">Đăng nhập</button>
      <a
        style="
          text-align: right;
          margin-top: 10px;
          color: #ce0021;
          text-decoration: underline;
        "
        href="/signup"
        >Đăng ký</a
      >
    </form>
  </div>
</div>
