<div class="admin-container">
  <div class="table" style="width: 60%; margin-bottom: 20px">
    <!-- <table id="userTable" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Month</th>
          <th>Sale Amount</th>
          <th>Created At</th>
        </tr>
      </thead>
    </table> -->

    <form id="frm-example">
      <table id="userTable" class="display">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
      </table>
      <button type="submit">Xóa</button>
    </form>
  </div>
  <div id="container" style="width: 60%; height: 400px"></div>
</div>
<script>
  // const fetchDataTable = () => {
  //   fetch("/data")
  //     .then((response) => response.json())
  //     .then((salesData) => {
  //       const data = salesData.data.map((obj)=>
  //         Object.values(obj)
  //       )
  //       console.log(salesData)
  //       console.log(data)
  //       $("#userTable").DataTable({
  //         data: data,
  //       });
  //     })
  //     .catch((error) => console.error("Error fetching sales data:", error));
  // };

  function fetchData() {
    fetch("/data")
      .then((response) => response.json())
      .then((salesData) => {
        const categories = salesData.product_1.map((data) => data.month);
        const data1 = salesData.product_1.map((data) => data.sales_amount);
        const data2 = salesData.product_2.map((data) => data.sales_amount);

        // Highcharts configuration
        Highcharts.chart("container", {
          // chart: {
          //   type: "column",
          // },
          title: {
            // text: "Monthly Sales Data",
            // align: "right", // Căn về bên phải
            // verticalAlign: "top", // Đặt ở trên cùng
            // style: {
            //   color: "#FF0000", // Màu đỏ
            //   fontWeight: "bold", // In đậm
            //   fontSize: "24px", // Cỡ chữ lớn
            // },
            // margin: 20, // Khoảng cách từ trên xuống
            text: null, // ẩn title
          },
          legend: {
            align: "right", // Căn về bên phải
            verticalAlign: "top", // vị trí Ở trên
            layout: "vertical", // Hiển thị theo chiều dọc
            // enable: false,  // ẩn legend
          },
          xAxis: {
            categories: categories,
            title: {
              text: "Months",
            },
          },
          yAxis: {
            min: 0,
            title: {
              text: "Sales Amount",
            },
          },
          series: [
            {
              type: "column",
              name: "Product 1",
              data: data1,
            },
            {
              type: "column",
              name: "Product 2",
              data: data2,
            },
            {
              type: "line",
              name: "Product 1",
              data: data1,
            },
            {
              type: "line",
              name: "Product 2",
              data: data2,
            },
          ],
        });
      })
      .catch((error) => console.error("Error fetching sales data:", error));
  }

  // // Call the fetchData function on page load
  // fetchDataTable();
  fetchData();

  $(document).ready(function () {
    // Khởi tạo DataTables với AJAX
    // $("#userTable").DataTable({
    //   ajax: {
    //     url: "/data", // URL API trả về dữ liệu JSON
    //     dataSrc: "data", // Trực tiếp lấy dữ liệu từ mảng JSON
    //   },
    //   columns: [
    //     { data: "id" }, // Liên kết với "id"
    //     { data: "month" },
    //     { data: "sales_amount" },
    //     { data: "created_at" },
    //   ],

    // });

    var table = $("#userTable").DataTable({
      processing: true,
      serverSide: true,
      searchDelay: 500,
      ajax: {
        url: "/data",
        type: "GET",
        dataSrc: (json) => {
          json.data.forEach((element) => {
            element.Action = `<button type="button" class="update-btn" data-id="${element.ID}">Update</button> <button type="button" class="delete-btn" data-id="${element.ID}"> Delete </button>`;
            element.Checkbox = `<input type="checkbox" data-id="${element.ID}" name="checkbox_id[]">`;
          });
          return json.data;
        },
      },
      aoColumnDefs: [
        {
          width: "3%",
          orderable: false,
          // targets: [0, 5],
        },
      ],
      columns: [
        { data: "RowNumber" }, // Liên kết với "id"
        { data: "Name" },
        { data: "Email" },
        { data: "Address" },
        { data: "Phone" },
        { data: "RoleName" },
        { data: "Action" },
        // { data: "Checkbox" },
        {data: null}
      ],
      columnDefs: [
        {
          targets: 7,
          checkboxes: {
            selectRow: true,
          },
        },
      ],
      select: {
        style: "multi",
      },

      order: [[0, "asc"]],

      language: {
        emptyTable: "Không có dữ liệu.",
        sLengthMenu: "Số bản ghi hiển thị trên 1 trang: _MENU_ ",
        sInfo: "Hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
        sSearch: "Tìm kiếm:",
        oPaginate: {
          sFirst: "Đầu",
          sPrevious: "Trước",
          sNext: "Tiếp",
          sLast: "Cuối",
        },
      },
      pageLength: 5,
      layout: {
        topStart: {
          pageLength: {
            menu: [5, 10, 25, 50],
          },
        },
      },
    });
    // Handle form submission event
    $("#frm-example").on("submit", function (e) {
      e.preventDefault();

      var form = this;

      var rows_selected = table.column(7).checkboxes.selected();

      // Iterate over all selected checkboxes
      $.each(rows_selected, function (index, rowId) {
        // Create a hidden element
        console.log(rowId)
        $(form).append(
          $("<input>").attr("type", "hidden").attr("name", "id[]").val(rowId)
        );
      });

      console.log(rows_selected.join(","));

      // Output form data to a console
      console.log($(form).serialize());

      // Remove added elements
      // $('input[name="id\[\]"]', form).remove();

      // Prevent actual form submission
    });
    //  update-btn
    $(document).on("click", ".update-btn", function () {
      let itemId = $(this).data("id");
      $.ajax({
        url: "/account/" + itemId,
        type: "GET",
        data: JSON.stringify({ title: "Updated Title" }), // Example update data
        contentType: "application/json",
        success: function (response) {
          window.location.href = "/account/" + itemId;
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.error("Update failed:", error);
        },
      });
    });

    // delete-btn
    $(document).on("click", ".delete-btn", function () {
      let itemId = $(this).data("id");

      $.ajax({
        url: "/account/" + itemId,
        type: "DELETE",
        success: function (response) {
          window.location.href = "/admin";
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.error("Delete failed:", error);
        },
      });
    });
  });
</script>
